.header {
    justify-content: left;
    align-items: center;
}

.header .logo {
    margin: 0 3%;
}

.header a {
    color: #fff;
    text-decoration: none;    
}

.header-menu-item a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.header-menu {
    margin-bottom: 0;
}

.header-menu-item {
    display: block;
    list-style: none;
    margin: auto 10%;
}